<a href="https://colab.research.google.com/github/TeddyQM/DataSci/blob/main/HW%206_Teddy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas exercises 1

1. Import dependencies

In [ ]:
import numpy as np
import pandas as pd

---

In [ ]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

In [ ]:
data_list = [98, 24, 46, 87, 33]
series_data = pd.Series(data_list)
print(series_data)

0    98
1    24
2    46
3    87
4    33
dtype: int64

3. Take the above series and add an index that starts at 2 and steps by 3

In [ ]:
new_index = range(2, len(series_data) * 3, 3)
series_data.index = new_index
print(series_data)

2     98
5     24
8     46
11    87
14    33
dtype: int64

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

In [7]:
import pandas as pd
data_dict = {
  "names": ['Teddy', 'Sarah', 'Nate', 'Sam'],
  "careers": ['Chef', 'Teacher', 'Economist', 'Accoutant'],
  "age": [22, 20, 20, 21]
}
df = pd.DataFrame(data_dict)
print(df)

   names    careers  age
0  Teddy       Chef   22
1  Sarah    Teacher   20
2   Nate  Economist   20
3    Sam  Accoutant   21

5. Name the index of `df` 'participant_id'.  
Print `df`.

In [8]:
df = pd.DataFrame(data_dict)
df = df.rename_axis('participant_id')

print(df)

                names    careers  age
participant_id
0               Teddy       Chef   22
1               Sarah    Teacher   20
2                Nate  Economist   20
3                 Sam  Accoutant   21

6. Use a pandas function to determine the data types of the columns of `df`.

In [9]:
column_data_types = df.dtypes

print(column_data_types)

names      object
careers    object
age         int64
dtype: object

7. Using bracket notation, reference column `name`

In [26]:
column_name_data = df['names']
print(column_name_data)

participant_id
0    Teddy
1    Sarah
2     Nate
3      Sam
Name: names, dtype: object

8. Using dot notation, reference column `name`

In [25]:
column_name_data = df.names
print(df.names)

participant_id
0    Teddy
1    Sarah
2     Nate
3      Sam
Name: names, dtype: object

8. Reference column `name` and have it returned in a dataframe.

In [33]:
column_name_df = pd.DataFrame(df['names'])

print(column_name_df)

                names
participant_id
0               Teddy
1               Sarah
2                Nate
3                 Sam

9. Show the 3rd element in column `career`.

In [35]:
third_element_careers = df['careers'].iloc[2]

print(third_element_careers)

Economist

10.  Load the `iris` dataset that we used in class.  Use `iris` as the name of your data frame.

In [41]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris_df = pd.DataFrame(iris, columns=iris.columns)
iris_df.name = "iris"
print(iris_df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

11.  What is the correlation between the variables `sepal_length` and `sepal_width` for all the irises?

In [42]:
correlation = iris_df['sepal_length'].corr(iris_df['sepal_width'])
print(f"The correlation between sepal_length and sepal_width is {correlation:.3f}")

The correlation between sepal_length and sepal_width is -0.118

12.  Which of the three species has the highest correlation between `sepal_length` and `sepal_width`?  Show any calculations you use to support your answer.

In [43]:
grouped_df = iris_df.groupby('species')
correlations = {}
for species, group in grouped_df:
    correlation = group['sepal_length'].corr(group['sepal_width'])
    correlations[species] = correlation
highest_correlation = 0
highest_species = None
for species, correlation in correlations.items():
    if correlation > highest_correlation:
        highest_correlation = correlation
        highest_species = species
print(f"The species with the highest correlation between sepal_length and sepal_width is {highest_species} with a correlation of {highest_correlation:.3f}")

The species with the highest correlation between sepal_length and sepal_width is setosa with a correlation of 0.743

13.  Among the four variables, the two that are most negatively correlated (overall) are `sepal_width` and `petal_length`.  (How do we know this?)  Determine the same thing but for each species separately:  for each species, which two variables have the most negative (or the least positive) correlation?  Again, include calculations to support your answer.

In [44]:
for species, group in grouped_df:
    correlations[species] = group.corr()
most_negative_correlations = {}
for species, correlation_matrix in correlations.items():
    # Find the pair of variables with the lowest correlation coefficient
    most_negative_correlation = None
    most_negative_pair = None
    for column1 in correlation_matrix.columns:
        for column2 in correlation_matrix.columns:
            if column1 != column2:
                correlation = correlation_matrix[column1][column2]
                if most_negative_correlation is None or correlation < most_negative_correlation:
                    most_negative_correlation = correlation
                    most_negative_pair = (column1, column2)

    most_negative_correlations[species] = most_negative_pair
for species, pair in most_negative_correlations.items():
    print(f"For species {species}, the two variables with the most negative correlation are {pair[0]} and {pair[1]}")

For species setosa, the two variables with the most negative correlation are sepal_width and petal_length
For species versicolor, the two variables with the most negative correlation are sepal_length and sepal_width
For species virginica, the two variables with the most negative correlation are sepal_length and petal_width

<ipython-input-44-a2e983f90db3>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations[species] = group.corr()

14.  Once again, the variables `sepal_width` and `petal_length` are negatively correlated.  But for each individual species, these two variables are positively correlated.  How is this possible?  Explain this phenomenon.  Use a data visualization if it helps.

They are positvely correlated because they are within the same species. There is a negative correlation because they are outisde of the same species so they take on different code/attributes for the formation of their own species