<a href="https://colab.research.google.com/github/TeddyQM/DataSci/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [ ]:
import pandas as pd
df = pd.read_csv('https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv')

In [ ]:
# show how many rows and columns are in this dataset
num_rows, num_columns = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 25760
Number of columns: 10

In [ ]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)

df['duration'] = df['duration'].astype(int)
print(df)

       duration  station_A_id  \
0            12            81
1            24             3
2             8            67
3             4            16
4            11            22
...         ...           ...
25755        11            15
25756        10            15
25757        14            15
25758        14            15
25759        29            16

                                          station_A_name  station_B_id  \
0                                     Berry St at 4th St           323
1           Powell St BART Station (Market St at 4th St)           118
2      San Francisco Caltrain Station 2  (Townsend St...            23
3                                Steuart St at Market St            28
4                                  Howard St at Beale St           350
...                                                  ...           ...
25755  San Francisco Ferry Building (Harry Bridges Pl...            34
25756  San Francisco Ferry Building (Harry Bridges Pl...            34
25757  San Francisco Ferry Building (Harry Bridges Pl...            42
25758  San Francisco Ferry Building (Harry Bridges Pl...            42
25759                            Steuart St at Market St           115

                                      station_B_name  bike_id  user_type  \
0                                 Broadway at Kearny     5480          2
1                    Eureka Valley Recreation Center     5193          2
2                      The Embarcadero at Steuart St     3652          3
3                       The Embarcadero at Bryant St     1883          1
4                               8th St at Brannan St     4626          2
...                                              ...      ...        ...
25755                 Father Alfred E Boeddeker Park     5063          1
25756                 Father Alfred E Boeddeker Park     5411          2
25757  San Francisco City Hall (Polk St at Grove St)     5157          2
25758  San Francisco City Hall (Polk St at Grove St)     4438          2
25759                             Jackson Playground     1705          3

       user_birth_year user_gender  tire_size
0                 1959        Male         26
1                 1965        Male         27
2                 1993        Male         29
3                 1979        Male         26
4                 1994        Male         27
...                ...         ...        ...
25755             2000        Male         26
25756             1998        Male         26
25757             1995        Male         26
25758             1995        Male         27
25759             1990        Male         27

[25760 rows x 10 columns]

In [ ]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
min_duration = df['duration'].min()
max_duration = df['duration'].max()
print("Shortest ride duration:", min_duration)
print("Longest ride duration:", max_duration)

Shortest ride duration: 1
Longest ride duration: 1372

In [ ]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
df_less_than_60 = df.query('duration <= 60')
print(df_less_than_60)

       duration  station_A_id  \
0            12            81
1            24             3
2             8            67
3             4            16
4            11            22
...         ...           ...
25755        11            15
25756        10            15
25757        14            15
25758        14            15
25759        29            16

                                          station_A_name  station_B_id  \
0                                     Berry St at 4th St           323
1           Powell St BART Station (Market St at 4th St)           118
2      San Francisco Caltrain Station 2  (Townsend St...            23
3                                Steuart St at Market St            28
4                                  Howard St at Beale St           350
...                                                  ...           ...
25755  San Francisco Ferry Building (Harry Bridges Pl...            34
25756  San Francisco Ferry Building (Harry Bridges Pl...            34
25757  San Francisco Ferry Building (Harry Bridges Pl...            42
25758  San Francisco Ferry Building (Harry Bridges Pl...            42
25759                            Steuart St at Market St           115

                                      station_B_name  bike_id  user_type  \
0                                 Broadway at Kearny     5480          2
1                    Eureka Valley Recreation Center     5193          2
2                      The Embarcadero at Steuart St     3652          3
3                       The Embarcadero at Bryant St     1883          1
4                               8th St at Brannan St     4626          2
...                                              ...      ...        ...
25755                 Father Alfred E Boeddeker Park     5063          1
25756                 Father Alfred E Boeddeker Park     5411          2
25757  San Francisco City Hall (Polk St at Grove St)     5157          2
25758  San Francisco City Hall (Polk St at Grove St)     4438          2
25759                             Jackson Playground     1705          3

       user_birth_year user_gender  tire_size
0                 1959        Male         26
1                 1965        Male         27
2                 1993        Male         29
3                 1979        Male         26
4                 1994        Male         27
...                ...         ...        ...
25755             2000        Male         26
25756             1998        Male         26
25757             1995        Male         26
25758             1995        Male         27
25759             1990        Male         27

[25544 rows x 10 columns]

In [ ]:
# Now show both the min and max values of the duration column for your new dataset.
min_duration_less_than_60 = df_less_than_60['duration'].min()
max_duration_less_than_60 = df_less_than_60['duration'].max()
print("Shortest ride duration (<= 60 minutes):", min_duration_less_than_60)
print("Longest ride duration (<= 60 minutes):", max_duration_less_than_60)

Shortest ride duration (<= 60 minutes): 1
Longest ride duration (<= 60 minutes): 60

In [ ]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
df_filtered = df_less_than_60.query('tire_size == 26')
print(df_filtered)

       duration  station_A_id  \
0            12            81
3             4            16
6            16            67
9             5            30
12            7             3
...         ...           ...
25750        15            16
25751        15            16
25755        11            15
25756        10            15
25757        14            15

                                          station_A_name  station_B_id  \
0                                     Berry St at 4th St           323
3                                Steuart St at Market St            28
6      San Francisco Caltrain Station 2  (Townsend St...           107
9         San Francisco Caltrain (Townsend St at 4th St)            62
12          Powell St BART Station (Market St at 4th St)            27
...                                                  ...           ...
25750                            Steuart St at Market St           371
25751                            Steuart St at Market St           371
25755  San Francisco Ferry Building (Harry Bridges Pl...            34
25756  San Francisco Ferry Building (Harry Bridges Pl...            34
25757  San Francisco Ferry Building (Harry Bridges Pl...            42

                                      station_B_name  bike_id  user_type  \
0                                 Broadway at Kearny     5480          2
3                       The Embarcadero at Bryant St     1883          1
6                              17th St at Dolores St     1035          2
9                        Victoria Manalo Draves Park      333          1
12                           Beale St at Harrison St     1863          3
...                                              ...      ...        ...
25750                     Lombard St at Columbus Ave     4372          2
25751                     Lombard St at Columbus Ave     5246          1
25755                 Father Alfred E Boeddeker Park     5063          1
25756                 Father Alfred E Boeddeker Park     5411          2
25757  San Francisco City Hall (Polk St at Grove St)     5157          2

       user_birth_year user_gender  tire_size
0                 1959        Male         26
3                 1979        Male         26
6                 1981        Male         26
9                 1994        Male         26
12                1998        Male         26
...                ...         ...        ...
25750             1994        Male         26
25751             1995        Male         26
25755             2000        Male         26
25756             1998        Male         26
25757             1995        Male         26

[12761 rows x 10 columns]

In [ ]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.

female_riders_count = df_filtered[df_filtered['user_gender'] == 'Female'].shape[0]
print("Count the FEMALE riders using 26-inch wheeled rental bikes for rentals of one hour or less:", female_riders_count)

Count the FEMALE riders using 26-inch wheeled rental bikes for rentals of one hour or less: 2962

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/aaron-abrams-uva/DS1002-S24/main/data/more-messy-data.csv')

In [3]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
num_duplicates = df.duplicated().sum()

print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 287

In [4]:
# Next, remove all duplicate rows using Python.
df_cleaned = df.drop_duplicates()
num_removed = len(df) - len(df_cleaned)
print("Number of duplicate rows removed:", num_removed)

Number of duplicate rows removed: 287

In [5]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
columns_to_update = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
column_means = df[columns_to_update].mean()
df[columns_to_update] = df[columns_to_update].fillna(column_means)
print(df)

       id  sepal_length  sepal_width  petal_length petal_width     species
0       1      3.500000     2.900000           1.4         0.5   virginica
1       2      3.600000     3.200000           3.0         0.5      setosa
2       3      3.800000     2.992747           2.2         1.5      setosa
3       4      5.800000     2.700000           2.6         1.2   virginica
4       5      4.900000     3.600000           3.0         1.2   virginica
...   ...           ...          ...           ...         ...         ...
1311  412      4.529662     3.600000           2.9         0.5  Versicolor
1312  413      5.800000     2.700000           2.0         0.1  Versicolor
1313  414      3.300000     3.700000           1.3         2.8  Versicolor
1314  415      3.100000     2.992747           1.1         NaN  Versicolor
1315  416      4.300000     2.500000           1.3           1  Versicolor

[1316 rows x 6 columns]

<ipython-input-5-bd1b065fde31>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  column_means = df[columns_to_update].mean()

In [6]:
# Find any values in the dataframe that are still missing, and delete them.
missing_values = df.isnull().sum().sum()
if missing_values > 0:
    print("There are still missing values in the DataFrame.")
    df.dropna(inplace=True)
    print("Missing values have been deleted.")
else:
    print("There are no missing values in the DataFrame.")

There are still missing values in the DataFrame.
Missing values have been deleted.

In [7]:
# How many different species are there?
num_species = df['species'].nunique()

print("Number of different species:", num_species)

Number of different species: 9

In [10]:
# Clean up the 'species' variable so that there are exactly three different values.
print("Unique species before cleanup:", df['species'].unique())
cleanup_mapping = {
    'setosa': 'setosa',
    'versicolor': 'versicolor',
    'virginica': 'virginica',
}
df['species'] = df['species'].map(cleanup_mapping)
print("Unique species after cleanup:", df['species'].unique())

Unique species before cleanup: ['virginica' 'setosa' 'Versicolor' 'setoso' 'Viginica' 'Virginia' 'Setosa'
 'Setosan' 'versicolor']
Unique species after cleanup: ['virginica' 'setosa' nan 'versicolor']

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))